h1 {
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-style:italic;
  text-align: center;
}

h3 {
  color: yellow;
  text-align: center;
  text-shadow: 3px 3px 6px #000000;
}

p {
  font-family: sans-serif;
}
p1 {
  font-size: 25px;
}
p2 {
  font-size: 25px;
}

p3 {
  font-size: 30px;
}

ul{
  font-size: 30px;
  line-height: 40px;
}

body {
  background-color: lightblue;
}

 img {
  border-color: white;
  align: center;
  border-radius: 50%;
  box-shadow: 3px 3px 6px #000000;
 }

 u {
   color: gold;
 }

 p.one {
   border-style: solid;
   border-color: red;
 }

 div2 {
   color: black;
   width: 1250px;
   padding: 10px;
   border: 5px solid gold;
   margin: 0;
   font-size: 30px;
 }

 col {
  display: table-column;
  box-shadow: 3px 3px 6px #000000;

}

li  {
  font-size: 22px;
}

p4 {
  font-family: cursive; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}

table {
  box-shadow: 3px 3px 6px #000000;
}

/* addons //////////////////////////////////////////////*/

.aboutme {
 font-style: italic;
}


img.main {
 align: center;
}

.important {
 color: red;
}

.unimportant {
 color: blue;
}

.my-class {
 margin: 12px;
 border: 2px solid blue;
 padding: 4px;
 clear: both;
font-style: italic;
}

.container {
   float: center;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #5DEFB5;
   border: 5px;
   margin: 20px;
   box-shadow: 3px 3px 6px #000000;
   border: 5px solid gold;

 }

 .container2 {
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   background-color: #ACF4D2;
   border: 5px solid #ccc;
   border-radius: 4px;
   }

   .container3 {
     margin-left: auto;
     padding-left: 5px;
     padding-right: 5px;
     background-color: #DC61A3;
     border: 5px solid #ccc;
     border-radius: 4px;
     }

     .container4 {
       margin: auto;
       max-width:1175px;
       padding-left: 15px;
       padding-right: 15px;
       background-color: #EF5DBA;
       border: 5px solid #ccc;
       border-radius: 4px;
       box-shadow: 3px 3px 6px #000000;

       }

   .column {
 width: 660px;
 float: center;
 align: center;
 border: 2px solid purple;
 padding: 4px;
 margin: 3px;

}

.column2 {
width: 440px;
float: left;
border: 5px solid violet;
padding: 4px;
margin: 3px;
}

.column3 {
width: 440px;
float: left;
border: 5px
padding: 4px;
margin: 3px;
}

.column4 {
width: 160px;
float: right;
/*align: right;*/
border: 2px solid teal;

}



.row::after {
 content: "";
 clear: both;
 display: table;
}
