h1 {
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-style:italic;
  text-align: center;
}

h3 {
  color: yellow;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

p {
  font-family: sans-serif;
}
p1 {
  font-size: 25px;
}
p2 {
  font-size: 25px;
}

p3 {
  font-size: 30px;
}

ul{
  font-size: 30px;
  line-height: 40px;
}

body {
  background-color: lightblue;
}

 img {
  border-color: white;
 }

 u {
   color: gold;
 }

 p.one {
   border-style: solid;
   border-color: red;
 }

 div2 {
   color: black;
   width: 1250px;
   padding: 10px;
   border: 5px solid gold;
   margin: 0;
   font-size: 30px;
 }

 col {
  display: table-column;

}

li  {
  font-size: 22px;
}
/*
.banner{
width:620px;
height: 100px;
margin:7px auto;
-moz-box-shadow: 0 1px 3px rgba(255, 239, 69, 1.29);
-webkit-box-shadow: 0 1px 3px rgba(255, 239, 69, 1.29);
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
padding-left:190px;
}
*/
